<center>
    
# Part 1b: Data Collection Workbook of Comments

## Christopher Williams Project 3

# Barcelona vs Real Madrid - El Clásico de Reddit

### Dataset of Subreddits Comments

#### Final dataframe of of Subreddit Comments is "dfc"
</center>

#### Summary of comment data from 2 subreddits 

Subreddits of FC Barcelona and Real Madrid futbol clubs based in Spain.

* https://www.reddit.com/r/Barca/ 
* https://www.reddit.com/r/realmadrid/ 


I collected comments from various threads over the course of the past year. I had to run two different data collection models for both Barca and realmadrid subreddits in order to collect enough comments from both subreddits. 

Data Collected from
* https://api.pushshift.io/reddit/search/comment/?subreddit=Barca
* https://api.pushshift.io/reddit/search/comment/?subreddit=realmadrid

- more from  https://github.com/pushshift/api

In [1]:
import requests
import json
import time
import pandas as pd
import numpy as np

pd.options.display.max_columns=250
pd.options.display.max_rows=250

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# create custom user agent
headers = {'User-agent': 'bleepbleep bot 0.1'}

## Create DataFrames from FC Barcelona Subreddit

### Create First DataFrame of dfb of Barca Subreddit

In [3]:
counter = 0

for i in range(1,20):
    counter +=1
    if counter % 4 == 0:
        print(f'through {counter}')        
    url_b = "https://api.pushshift.io/reddit/search/comment/?subreddit=Barca&before={}&sort=des&size=1000".format(1545272472 - i*1036800)
    res = requests.get(url_b, headers=headers)
    if res.status_code == 200:
        jsonb = res.json()
        dfb = pd.DataFrame(jsonb['data'])
        dfb = dfb[['subreddit','body','created_utc','id','link_id','parent_id']]
        dfb = dfb[dfb['body']!='[removed]']
    else: 
        print(res.status_code)
        break
    time.sleep(.05)      # in order to give break on server 

print('Shape of dfb: ' + str(dfb.shape))

through 4
through 8
through 12
through 16
Shape of dfb: (996, 6)

In [4]:
# check shape of dfb of Barca subreddit 
dfb.shape

(996, 6)

In [5]:
# check head of dfb of Barca subreddit 
dfb.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,Barca,"The Tavern on 12th! The F.C. Barcelona Penya, ...",1525573121,dyioab8,t3_8hazib,t3_8hazib
1,Barca,How about Puyol and Raúl?,1525572556,dyints8,t3_8h7que,t1_dyhqxbw
2,Barca,"Tap 24 by campus is fun too, just get there ea...",1525572535,dyint5g,t3_8hazib,t3_8hazib
3,Barca,They were a rip off about 1200$ each category 2,1525571525,dyimzkp,t3_8h6e1p,t1_dyimwte
4,Barca,Ah gotcha. How much were the tickets for you i...,1525571433,dyimwte,t3_8h6e1p,t1_dyime71

In [6]:
len(dfb['id'].unique())

996

### Create Second dataframe of dfb2 of Barca Subreddit

In [7]:
counter = 0

for i in range(21,40):
    counter +=1
    if counter % 4 == 0:
        print(f'through {counter}')        
    url_b = "https://api.pushshift.io/reddit/search/comment/?subreddit=Barca&before={}&sort=des&size=1000".format(1545272472 - i*1036800)
    res = requests.get(url_b, headers=headers)
    if res.status_code == 200:
        jsonb = res.json()
        dfb2 = pd.DataFrame(jsonb['data'])
        dfb2 = dfb2[['subreddit','body','created_utc','id','link_id','parent_id']]
        dfb2 = dfb2[dfb2['body']!='[removed]']
    else: 
        print(res.status_code)
        break
    time.sleep(.05)      # in order to give break on server 

print('Shape of dfb2: ' + str(dfb2.shape))

through 4
through 8
through 12
through 16
Shape of dfb2: (980, 6)

In [8]:
# check shape of dfb2 of Barca subreddit 
dfb2.shape

(980, 6)

In [9]:
# check head of dfb2 of Barca subreddit 
dfb2.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,Barca,How so? I don't agree with what they represent...,1504836745,dmpoft7,t3_6yadpe,t1_dmltgdq
1,Barca,[deleted],1504836501,dmpo8tj,t3_6yrqfb,t3_6yrqfb
2,Barca,You think way too much about the politics behi...,1504836107,dmpnx6n,t3_6yrqfb,t3_6yrqfb
3,Barca,And he's also been said many times it wasn't j...,1504835311,dmpn89x,t3_6yih6l,t1_dmnp0uh
4,Barca,"Because people can't let it go. He's old, expe...",1504835052,dmpn0jj,t3_6ypb27,t1_dmp4msh

### Create df_combined of concatenated dfb and dfb2

In [10]:
# Create df of concated dfb and dfb2
dfb_combined = pd.concat([dfb, dfb2], axis=0, ignore_index=True)
dfb_combined.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,Barca,"The Tavern on 12th! The F.C. Barcelona Penya, ...",1525573121,dyioab8,t3_8hazib,t3_8hazib
1,Barca,How about Puyol and Raúl?,1525572556,dyints8,t3_8h7que,t1_dyhqxbw
2,Barca,"Tap 24 by campus is fun too, just get there ea...",1525572535,dyint5g,t3_8hazib,t3_8hazib
3,Barca,They were a rip off about 1200$ each category 2,1525571525,dyimzkp,t3_8h6e1p,t1_dyimwte
4,Barca,Ah gotcha. How much were the tickets for you i...,1525571433,dyimwte,t3_8h6e1p,t1_dyime71

In [11]:
len(dfb_combined['id'].unique())

1976

## Create DataFrames from Real Madrid Subreddit

### Create First dataframe of dfr of Real Madrid Subreddit

In [12]:
counter = 0

for i in range(1,20):
    counter +=1
    if counter % 4 == 0:
        print(f'through {counter}')        
    url_r = "https://api.pushshift.io/reddit/search/comment/?subreddit=realmadrid&before={}&sort=des&size=1000".format(1545272472 - i*1036800)
    res = requests.get(url_r, headers=headers)
    if res.status_code == 200:
        jsonr = res.json()
        dfr = pd.DataFrame(jsonr['data'])
        dfr = dfr[['subreddit','body','created_utc','id','link_id','parent_id']]
        dfr = dfr[dfr['body']!='[removed]']
    else: 
        print(res.status_code)
        break
    time.sleep(.05)      # in order to give break on server 

print('Shape of dfr: ' + str(dfr.shape))

through 4
through 8
through 12
through 16
Shape of dfr: (969, 6)

In [13]:
# check shape of dfr of Real Madrid's subreddit 
dfr.shape

(969, 6)

In [14]:
# check head of dfr of Real Madrid's subreddit 
dfr.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,realmadrid,Because I absolutely hate Dutch football. It's...,1525573170,dyiobor,t3_8gue84,t1_dyi9vep
1,realmadrid,It's youtube what did you expect,1525572953,dyio5ir,t3_8h8rxy,t1_dyi1jim
2,realmadrid,"I want 5-0 to us, and Keylor Navas scoring a f...",1525572589,dyinuqj,t3_8hafod,t3_8hafod
3,realmadrid,"Well,klopp is also not the only reason liverpo...",1525572336,dyinn8x,t3_8h74qb,t1_dyi754j
4,realmadrid,Real Madrid already took the high road when th...,1525572167,dyinibf,t3_8h7hs5,t1_dyhwqi6

In [15]:
len(dfr['id'].unique())

969

### Create Second dataframe of dfr2 of Real Madrid Subreddit

In [16]:
counter = 0

for i in range(21,41):
    counter +=1
    if counter % 4 == 0:
        print(f'through {counter}')        
    url_r = "https://api.pushshift.io/reddit/search/comment/?subreddit=realmadrid&before={}&sort=des&size=1000".format(1545272472 - i*1036800)
    res = requests.get(url_r, headers=headers)
    if res.status_code == 200:
        jsonr = res.json()
        dfr2 = pd.DataFrame(jsonr['data'])
        dfr2 = dfr2[['subreddit','body','created_utc','id','link_id','parent_id']]
        dfr2 = dfr2[dfr2['body']!='[removed]']
    else: 
        print(res.status_code)
        break
    time.sleep(.05)      # in order to give break on server 

print('Shape of dfr2: ' + str(dfr2.shape))

through 4
through 8
through 12
through 16
through 20
Shape of dfr2: (980, 6)

In [17]:
# check shape of dfr2 of Real Madrid's subreddit 
dfr2.shape

(980, 6)

In [18]:
len(dfr2['id'].unique())

980

### Create df_combined of concatenated dfb and dfb2

In [19]:
# Create df of concated dfb and dfb2
dfr_combined = pd.concat([dfr, dfr2], axis=0, ignore_index=True)
dfr_combined.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,realmadrid,Because I absolutely hate Dutch football. It's...,1525573170,dyiobor,t3_8gue84,t1_dyi9vep
1,realmadrid,It's youtube what did you expect,1525572953,dyio5ir,t3_8h8rxy,t1_dyi1jim
2,realmadrid,"I want 5-0 to us, and Keylor Navas scoring a f...",1525572589,dyinuqj,t3_8hafod,t3_8hafod
3,realmadrid,"Well,klopp is also not the only reason liverpo...",1525572336,dyinn8x,t3_8h74qb,t1_dyi754j
4,realmadrid,Real Madrid already took the high road when th...,1525572167,dyinibf,t3_8h7hs5,t1_dyhwqi6

In [20]:
len(dfr_combined['id'].unique())

1949

## Create a Dataframe df of both Barca and Real Madrid dataframes (dfb and dfr)

In [21]:
# Create df of concated dfb and dfr
df = pd.concat([dfb_combined, dfr_combined], axis=0, ignore_index=True)
df.head()

,subreddit,body,created_utc,id,link_id,parent_id
0,Barca,"The Tavern on 12th! The F.C. Barcelona Penya, ...",1525573121,dyioab8,t3_8hazib,t3_8hazib
1,Barca,How about Puyol and Raúl?,1525572556,dyints8,t3_8h7que,t1_dyhqxbw
2,Barca,"Tap 24 by campus is fun too, just get there ea...",1525572535,dyint5g,t3_8hazib,t3_8hazib
3,Barca,They were a rip off about 1200$ each category 2,1525571525,dyimzkp,t3_8h6e1p,t1_dyimwte
4,Barca,Ah gotcha. How much were the tickets for you i...,1525571433,dyimwte,t3_8h6e1p,t1_dyime71

In [22]:
# check shape of df
df.shape

(3925, 6)

In [23]:
# check value count of df
df.subreddit.value_counts()

Barca         1976
realmadrid    1949
Name: subreddit, dtype: int64

## Export the dataframe to CSV called Barca_Madrid

In [24]:
# print to csv

df.to_csv('dfc.csv', index=False)

In [25]:
# Check CSV head
pd.read_csv('./dfc.csv').head(2)

,subreddit,body,created_utc,id,link_id,parent_id
0,Barca,"The Tavern on 12th! The F.C. Barcelona Penya, ...",1525573121,dyioab8,t3_8hazib,t3_8hazib
1,Barca,How about Puyol and Raúl?,1525572556,dyints8,t3_8h7que,t1_dyhqxbw

In [26]:
# Check CSV tail
pd.read_csv('./dfc.csv').tail(2)

,subreddit,body,created_utc,id,link_id,parent_id
3923,realmadrid,hit up joy and palace lol,1503426055,dlz9642,t3_6v9ggz,t3_6v9ggz
3924,realmadrid,could be.,1503426042,dlz95mm,t3_6uznv5,t1_dlz902w

## End of this File